.about-box {
    height: 100vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(102, 126, 234, 1), 
        rgba(240, 165, 198, 1));
    background-position: top;
    background-size: cover;
    position: relative;
    padding-top: 6.5rem;
} 
.about-contents {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.cust-row {
    max-width: 100rem;
    margin: 0 auto;
}
.cust-row::after {
    content: "";
    display: table;
    clear: both;
}
.cust-row > .cust-col {
    width: calc((100% - 6rem) / 2);
    float: right;
}
.cust-row > .cust-col:not(:last-child) { 
    margin-right: 6rem; 
    float: left;
}
.about-images { 
    position: relative; 
}
.about-images > img:nth-child(1) {
    width: 55%;
    top: 5rem;
    left: 45%;
    transform: translateX(-50%) translateY(0);
    position: absolute;
    z-index: 1;
    transition: all .2s;
    animation-name: moveInFade;
    animation-duration: 1s;
    animation-delay: .5s;  
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden;
}
.about-images > img:last-child {
    width: 55%;
    left: 70%;
    transform: translateX(-50%);
    position: absolute;
}
.about-summary { font-family: 'Work Sans', sans-serif; }
.title-summary {
    letter-spacing: .18rem;  
    font-weight: 900;   
    font-size: 4rem;
}
.subtitle-summary {
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.content-summary {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}
.android-summary > img {
    width: 35%;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.2);
    backface-visibility: hidden;
    transition: all .1s;
}
.android-summary > img:hover {
    cursor: pointer;
    transform: translateY(-.2rem);
    box-shadow: 0 .7rem 2rem rgba(0,0,0,.2);
}
.android-summary > img:active {
    transform: translateY(0);
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.2);
}

@keyframes moveInFade {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-5%);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

