<template>
    <div class="about-box">
        <div class="about-contents container">
            <div class="cust-row">
                <div class="cust-col">
                    <div class="about-images">
                        <img src="../../assets/iphone.svg" alt="iPhone" class="animated-image">
                        <img src="../../assets/iphone.svg" alt="iPhone">
                    </div>
                </div>
                <div class="cust-col">
                   <div class="about-summary">
                       <h2 class="title-summary">Bantu Saya -</h2>
                       <h4 class="subtitle-summary">Cerita, Dengar dan Laporkan</h4>
                       <p class="content-summary">
                           Aplikasi Bantu Saya adalah aplikasi berbasis android yang dikembangkan untuk membantu mencegah kekerasan terhadap perempuan dan anak, serta dirancang khusus dan disesuaikan dengan kebutuhan penyintas kekerasan pada wanita sehingga para penyintas tidak takut lagi melaporkan tindak kekerasan yang dialami kepada instansi terkait.
                       </p>
                       <div class="android-summary">
                           <img src="../../assets/play-google.svg" alt="">
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped>
    /* import css reset locally. Don't change anything! */
    @import "../../css/content/about-us.css";
</style>

