<template>
    <nav class="navbar navbar-default navbar-fixed-top no-bg">   
        <div class="container nav-box">
            <div class="navbar-header">
                <a class="navbar-brand" :style="shownColor">Bantu Saya</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <router-link to="/" tag="li" active-class="cust-active" exact><a class="cust-nav" :style="shownColor">Tentang Kami</a></router-link>
                <router-link to="/#services" tag="li" active-class="cust-active"><a class="cust-nav" :style="shownColor">Layanan</a></router-link>
                <router-link to="/#videos" tag="li" active-class="cust-active"><a class="cust-nav" :style="shownColor">Video</a></router-link>
                <router-link to="/#reviews" tag="li" active-class="cust-active"><a class="cust-nav" :style="shownColor">Testimoni</a></router-link>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        data () {
            return {
                color: 'white'
            }
        },
        computed: {
            shownColor () {
                return {
                    color: this.color
                }
            }
        }
    }
</script>

<style scoped>
    /* import css reset locally. Don't change anything! */
    @import "../css/header.css";
</style>

