<template>
    <div>
        <app-about-us></app-about-us>
        <!-- Another components below here -->
    </div>
</template>

<script>
    import AboutUs from './content/AboutUs.vue'
    export default {
        components: {
            appAboutUs: AboutUs
        }
    }
</script>

