.no-bg {
    background: none;
    border: none;
}
.cust-active,
.cust-nav:hover { 
    box-shadow: inset 0 -.35rem 0 white; 
    transition: all .2s ease-in-out;
    backface-visibility: hidden;   
}
.nav > li:not(:last-child) { margin-right: 1.5rem; }
.nav-box { max-width: 85rem; }