*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html { font-size: 62.5%; }
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    line-height: 1.7;
    color: white;
    box-sizing: border-box;
}
.border { border: .1rem dashed blue; }