<template>
  <div>
    <!-- header section -->
    <app-header></app-header>
    <!-- main section -->
    <main>
      <router-view></router-view>
    </main>
    <!-- footer section -->
  </div>
</template>

<script>
import Header from './components/Header.vue'
export default {
  components: {
    appHeader: Header
  }
}
</script>

<style>
  /* import css reset globally. Don't change anything! */
  @import './css/reset.css';
</style>
